#
# python  (3.8.5)
# pip     (21.1.1)
#
# author: @contimatteo
#

#############################
## Dev

pylint
yapf

#############################
## Standalone

#############################
## Not-Versioned

tensorflow-macos
tensorflow-metal

scikit-learn
googledrivedownloader
nltk
