#
# python  (3.8.5)
# pip     (21.1.1)
#
# author: @contimatteo
#

#############################
## Dev

pylint
yapf

#############################
## Standalone

numpy

#############################
## Not-Versioned

pandas
scikit-learn
tensorflow
googledrivedownloader
nltk